<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="bagfile" default="/data/rosbag/mission_2018-03-08-16-58-51_rewrite.bag"/>

    <param name="use_sim_time2" type="bool" value="true"/>

    <node
        pkg="rosbag"
        type="play"
        name="replay"
        args="--pause --clock --loop
            --topics /loitor_stereo_visensor/left/image_raw
                    /loitor_stereo_visensor/left/camera_info
                    /loitor_stereo_visensor/right/image_raw
                    /loitor_stereo_visensor/right/camera_info
                    tf
            --bags $(arg bagfile)"
        output="screen">
     </node>

    <node
        pkg="nodelet"
        type="nodelet"
        name="manager"
        args="manager"
        output="screen"
        />
    <!--
         launch-prefix="nvprof -o manager_triple.prof - -analysis-metrics -s "
         -->

    <node
        pkg="nodelet"
        type="nodelet"
        name="stereo_cuda"
        args="load gpuimageproc/Stereoproc manager"
        output="screen"
        >
        <remap to="/loitor_stereo_visensor/left/image_raw"
               from="left/image_raw"/>
        <remap to="/loitor_stereo_visensor/right/image_raw"
               from="right/image_raw"/>
        <remap to="/loitor_stereo_visensor/left/camera_info"
               from="left/camera_info"/>
        <remap to="/loitor_stereo_visensor/right/camera_info"
               from="right/camera_info"/>

        <param name="approximate_sync" type="bool" value="true"/>
    </node>
</launch>
